.main-footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

button {
  margin-right: 5px;
}

@media (min-width: 900px) {
  #botao-sai {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
  }
  #botao-sai:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
}
  .table-actions {
    width: 1px;
  }
}

@media (max-width: 321px) {

  #botao-sai {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545
  }
  #botao-sai:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130
}

  .table {
    display: flex;
    flex-direction: column;
  }
  .altera {
    margin-left: -5px;
    margin-right: -5px;
  }
}

.table-actions {
  width: 50px;
}

.table-actions2 {
  width: 150px;
}

.input-classe {
  border-radius: 10px;
}

.label-classe {
  font-weight: 500;
  color: #154360;
}

.sair {
  border-radius: 5px;
}


.div-nav {
  border: 1px solid #FFF;
  border-radius: 5px;
}

.tabheaderr {
  cursor: pointer;
}

#botao-sai {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545
}
#botao-sai:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130
}